<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">
	<insert id="insertBoard">
	insert into CONFIRMED (number, writer, footTraffic, confirmedDate, residence, detailRes) 
	values (#{number}, #{writer}, #{footTraffic}, #{confirmedDate}, #{residence}, #{detailRes})
	</insert>
	<update id="updateBoard">
	update CONFIRMED set number=#{number}, writer=#{writer}, footTraffic=#{footTraffic}, 
	confirmedDate=#{confirmedDate}, residence=#{residence}, detailRes=#{detailRes} where id=#{id}
	</update>
	<delete id="deleteBoard">
	delete from CONFIRMED where id=#{id}
	</delete>
	<select id="getBoard" resultType="board">
	select * from CONFIRMED where id=#{id}
	</select>
	<select id="getBoardList" resultType="board">
	select * from CONFIRMED order by id desc
	</select>
	<select id="getFoundList" parameterType="string" resultType="board">
	select * from CONFIRMED where 
	id like concat ('%', #{toFind}, '%') or
	writer like concat ('%', #{toFind}, '%') or
	footTraffic like concat ('%', #{toFind}, '%') or
	residence like concat ('%', #{toFind}, '%') or
	detailRes like concat ('%', #{toFind}, '%')
	order by id desc
	</select>
	<select id="getOrderedList" resultType="board">
	select * from CONFIRMED order by #{orderColumn}
	</select>
</mapper>